/* ==== GERAL ======================= */
@font-face {
  font-family: 'Futura';
  src: url(/assets/fonts/Futura\ Condensed\ Light\ Regular.otf);
}

:root {
  font-size: 62.5%;
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #E4E7EF;

  font-family: 'Futura';
  font-size: 1.6rem;
}

/* ==== SITE ======================= */


.root {
  width: 100vw;
  height: 100vh;
}

.app {
  margin: 0 auto;
  max-width: 120rem;
  height: 90%;
  padding: 4rem 3rem;
  
  display: flex;
  align-items: flex-start;


}

/* ==== ASIDE ======================= */

.aside {
  width: 32rem;
  padding: 2rem 2rem;
  margin-bottom: 3rem;

  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 0 1rem 0 rgba(17, 17, 17, 0.342);

  position: fixed;
}

h1 {
  text-align: center;
  color: black;
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.item {
  display: flex;
  flex-direction: column;
  gap: .2rem;
  color: #979797;
}

.title__label,
.notes__label {
  font-size: 2rem;
  font-weight: 400;
}

.title,
.notes {
  font-size: 1.5rem;
  color: #616161;

  background-color: transparent;

  outline: none;
  border: none;
  border-bottom: .1rem solid rgb(226, 226, 226);
  margin-bottom: 1.5rem;

  width: 100%;
  padding: .5rem 0;
}

.notes{
  resize: none;
}

.btn__add {
  margin-top: 1.5rem;
  cursor: no-drop;
  
  width: 100%;
  padding: 1rem 0;


  font-weight: 600;
  font-size: 2rem;
  color: white;
  background-color: #E88F7A;

  border: none;
  border-radius: 1rem;
}

.btn__add:enabled {
  cursor: pointer;
  background-color: indianred;
}

.filter {
  margin-top: 1rem;
  padding: 2rem 0 .5rem 0;
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;

}

.fitem {
  color: black;
  font-size: 2rem;
  letter-spacing: .1rem;
}


/* ==== MAIN ======================= */

.main {
  flex: 1 1;
  margin-left: 36rem; 
  background-color: transparent;
}

.list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}


/* ==== TASK ======================= */


li {
  list-style: none;
}

.task {
  max-height: 22rem;
  max-width: 32rem;
  background-color: white;
  max-width: 38rem;
  border-radius: 1rem;
  padding: 2rem 2rem 1rem 2rem;

  display: flex;
  flex-direction: column;
  
  box-shadow: 0 0 1rem 0 rgba(17, 17, 17, 0.212);
}

.div__title {
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
}

.delete {
  cursor: pointer;
}

.delete:hover svg {
  fill: indianred;
  stroke: indianred;
}

.task__notes {
  color: black;
  font-size: 1.5rem;

  padding: 1rem;
  border: none;
  border-radius: .5rem;
  margin: 1rem 0;
}

.task__notes:focus {
  box-shadow: 0 0 .5rem 0 rgba(51, 51, 51, 0.39);
}

.alert {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

/* ==== FILTER TAG ======================= */

.priority {
  color: white;
  background-color: indianred;
}

.priority .task__notes {
  color: white;
}

.priority .delete:hover svg {
  fill: white;
  stroke: white;
}

@media (max-width: 1000px) {

  .root {
    height: 100%;
  }

  .app {
    flex-direction: column;
  }

  .aside {
    width: 100%;

    position: static;
  }

  .filter {
    justify-content: center;
    gap: 2.5rem;
  }

  .main {
    width: 100%;
    margin-left: 0;
  }

  .list {
    grid-template-columns: 1fr 1fr;
    gap: 2rem ;
  }

  .task {
    max-width: 100%;
  }

}

@media (max-width: 600px) {
  
  .root {
    height: 100%;
  }

  .app {
    flex-direction: column;
  }

  .aside {
    width: 100%;

    position: static;
  }

  .main {
    width: 100%;
    margin-left: 0;
  }

  .list {
    grid-template-columns: 1fr;
    gap: 2rem ;
  }

  .task {
    max-width: 100%;
  }
}